.course-record {
    position: absolute;
    font-size: 28px;
    width: 75%;
    left: 12.5%;
    word-wrap: break-word;
    color: white;
    background-color: #015761;
}

.course-record h1 {
    font-size: 100px;
    text-align: center;
    color: #f7dc4f;
    color:rgba(255, 255, 255, .7);

}

.course-record h2 {
    font-size: 80px;
    color: #f7dc4f;
}

.course-record a {
    color:rgba(255, 255, 255, .5);
}

.course-record a:hover {
    color: white;
}

.course-record a:visited {
    color:rgba(255, 255, 255, .5);
}

.text-decoration-none {
    text-decoration: none;
}

.title {
    font-weight: bold;
    color: #f7dc4f;
}

mark.highlight-yellow {
    color: white;
	background:linear-gradient(transparent 20%,rgba(255,255,255,0) 40%, #FFF176 50%,transparent 100%);	
    padding: 2px 1px;
}

mark.highlight-red {
    color: white;
	background:linear-gradient(transparent 20%,rgba(255,255,255,0) 40%, #ff0000 50%,transparent 100%);	
    padding: 2px 1px;
}

.color-yellow {
    color: #f7dc4f;
}

.color-white {
    color:white;
}

.introduction {
    background-color: #015761;
    text-align:center;
    font-size: 100px;
}

.navbar-nav {
    font-size: 30px;
}

.navbar-nav img {
    width: 25px;
    height: 25px;
    opacity: .5;
}

.navbar-nav img:hover {
    opacity: 1.0;
}

.navbar {
    background-color: #333333;
}

.navbar .navbar-nav .nav-link {
    color:rgba(255, 255, 255, .5);
}

.navbar .navbar-nav .nav-link:hover {
    color:rgba(255, 255, 255, 1.0);
}

@media only screen and (max-width: 980px) {

    div.course-record {
        font-size: 50px;
    }

    .introduction {
        background-color: #015761;
        text-align:center;
        font-size: 160px;
    }

    .navbar-nav {
        font-size: 60px;
    }

    .navbar-nav img {
        width: 50px;
        height: 50px;        
    }

    .navbar-nav img:hover {
        opacity: 1.0;
    }

    .nav-item {
        margin: .5vmax;  
    }

    .navbar .navbar-nav .nav-link {
        color:rgba(255, 255, 255, .5);
    }
    
    .navbar .navbar-nav .nav-link:hover {
        color:rgba(255, 255, 255, 1.0);
    }
}

@media only screen and (min-width: 769px) {

}