/* body {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("img/鐵路.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-size: 28px;
    width: 100%;
} */

h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: rgb(213, 159, 23);
}
a {
    color: rgb(255, 5, 209);
}

.menu {
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    z-index: 1;
}

.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color:#333333;
    width: 100%;
}

.menu ul li {
    float: left;
    display: inline;
}

.menu ul li a {
    color: white;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 70px;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #f7dc4f;
}

.menu ul li:hover {
    background-color:black;
}

div.content {
    position: absolute;
    width: 50%;
    left: 25%;
    word-wrap: break-word;
    color: white;
    background-color: alpha(0);
}

.course-title {
    text-decoration: none;
    color: rgb(108, 203, 114);
}

.title {
    font-weight: bold;
    color: #068fff;
}

mark.highlight-yellow {
    color: white;
	background:linear-gradient(transparent 20%,rgba(255,255,255,0) 40%, #FFF176 50%,transparent 100%);	
    padding: 2px 1px;
}

mark.highlight-red {
    color: white;
	background:linear-gradient(transparent 20%,rgba(255,255,255,0) 40%, #ff0000 50%,transparent 100%);	
    padding: 2px 1px;
}

.color-yellow {
    color: #f7dc4f;
}

.color-white {
    color:white;
}

.navbar-nav {
    font-size: 1.5vmax;
}

.navbar-nav img {
    width: 1.5vmax;
    height: 1.5vmax;
    opacity: .5;
}

.navbar-nav img:hover {
    opacity: 1.0;
}

.navbar {
    background-color: #333333;
}

.navbar .navbar-nav .nav-link {
    color:rgba(255, 255, 255, .5);
}

.navbar .navbar-nav .nav-link:hover {
    color:rgba(255, 255, 255, 1.0);
}

@media only screen and (max-width: 980px) {
    .navbar-nav {
        font-size: 3vmax;
    }

    .navbar-nav img {
        width: 3vmax;
        height: 3vmax;        
    }

    .navbar-nav img:hover {
        opacity: 1.0;
    }

    .nav-item {
        margin: .5vmax;  
    }

    .navbar .navbar-nav .nav-link {
        color:rgba(255, 255, 255, .5);
    }
    
    .navbar .navbar-nav .nav-link:hover {
        color:rgba(255, 255, 255, 1.0);
    }
}

@media only screen and (min-width: 769px) {

}